<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!currentUser">
  <input type="text" #userName>
  <button (click)="joinUser(userName.value)">Join the chat</button>
</div>

<div *ngIf="currentUser">
  <div style="margin-bottom: 20px;">
    <span *ngFor="let user of users" style="padding: 10px">
      {{user.name}}
    </span>
  </div>

  <div style="margin-bottom: 10px;">
    <p *ngFor="let message of messages"
       [style.backgroundColor]="message.privateMessage ? 'gray' : ''">
      <strong>{{message.user.name}}: </strong>{{message.message}}
    </p>
  </div>
  <div>
    <input type="text" #message>
    <button (click)="sendMessage(message.value, toUser.value)">Send Message</button>
    <select #toUser>
      <option value="">All</option>
      <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
    </select>
  </div>
</div>

